<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Wordly</title>
  <link rel="stylesheet" href="public/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <div class="container">


  <h1>Wordly</h1>
  <h4>The Country Name Guessing Game</h4>

  <h3>What Country is this?</h3>
  <div class="unknownWord">
  {{#unknownWord}}
      {{.}}

  {{/unknownWord}}
    </div>
  <p>{{letters}} Number of misses left: {{numGuesses}}</p>

  <form class="" action="/" method="post">
    <input type="text" name="guessLetter" value="" maxlength="1">
    <button type="submit" name="button">Guess</button>
  </form>

  {{#errors}}
    <p>
      {{msg}}
    </p>
  {{/errors}}

</div>

</body>

</html>
